* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    background-color: #222;
    box-sizing: border-box;
    overflow: hidden;
}
.info {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX( -50% );
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eee;
}